</main>

    <footer>
        <hr class="top">
        <div class="copyright">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> <b>blogOn</b></p>
        </div>
        <hr class="bottom">
    </footer>
    
</body>
</html>