<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- CSS -->
    <link rel="stylesheet" href="styles/main.css">
    <title>blogOn</title>
</head>
<body>
    <header>
        <span class="title">blogOn</span>
        <nav class="navigation">
            <a href="/" class="tab">Home</a>
            <a href="post.ejs" class="tab">Post</a>
            <button class="profile">
                <img src="images/3.jpg" alt="profile image" id="profileImage"><span id="profileName">User</span>
            </button>
        </nav>
    </header>
    
    <main>